<div class="login-register-container">
    <div class="login-form">
      <h2>Login</h2>
      <form method="POST" action="{% url 'blog:login' %}">
        {% csrf_token %}
        {{ login_form }}
        <button type="submit">Login</button>
      </form>
    </div>
    <div class="register-form">
      <h2>Register</h2>
      <form method="POST" action="{% url 'blog:register' %}">
        {% csrf_token %}
        {{ register_form.as_p }}
        <button type="submit">Register</button>
      </form>
    </div>
  </div>